@model EjercicioCodeFirstCursos.Models.DtoCategoria

@{
    ViewData["Title"] = "Detailles";
}

<h2>Detalles</h2>

<div>
    <h4>Categoría</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Imagen)
        </dt>
		<dd>
			@if (Model.ImagenGuardada != null)
			{
				<img bytes-foto="Model.ImagenGuardada" />
			}
		</dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CodCategoria">Editar</a> |
    <a asp-action="Index">Volver a la lista</a>
</div>
